@import url('https://fonts.googleapis.com/css2?family=Urbanist');

body {
  margin: 0;
  font-family: 'Urbanist', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #424874;
}

#title {
  color: white;
  font-size: 48px;
  font-weight: 700;
  margin-left: 30px;
}